
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.private{
	background-color: darkorange;
    padding: 4px;
    font-size: medium;
    color: white;
    border-radius: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}